@media screen and (max-width: 600px) {
    /* Estilos para telas menores */
  }
  
  @media screen and (min-width: 601px) and (max-width: 1024px) {
    /* Estilos para telas de tamanho médio */
  }
  
  @media screen and (min-width: 1025px) {
    /* Estilos para telas maiores */
  }

  @font-face {
    font-family: 'paixao';
    src: url(font/PassionOne-Bold.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sriracha';
    src: url(font/Sriracha-Regular.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
}

.container {
    background-image: url(img/container-fundo2.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 300px;
    box-shadow: 5px 5px 20px grey;
}

.titulo-principal {
    color: rgb(255, 0, 0);
    font-size: 32mm;
    font-family: 'paixao';
    text-transform: uppercase;
    text-align: center;
    padding: 55px 0 0 0;
    margin: 0;
}

.autor {
    color: rgb(249, 249, 7);
    text-align: center;
    font-size: 6mm;
    font-family: 'paixao';
    padding-top: 20px;
}

.autor a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.autor a:hover {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
@media screen and (max-width: 768px) {
    .titulo-principal {
        font-size: 22mm;
    }
    .autor {
        display: block;
        font-size: 5mm;
        padding-top: 15px;
    }
}

p {
    font-family: 'Sriracha';
    font-size: 14mm;
    padding-left: 30px;
    line-height: 2cm;
    font-size: 5vh;
}

section > p {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.385);
}

.container-poesia1 {
    color: white;
}

.img1 {
    background: url(img/background001.jpg) center center no-repeat fixed;
    background-size: cover;
}

.img2 {
    background: url(img/background002.jpg) center center no-repeat fixed;
    background-size: cover;
}